@import 'variables';

body,
html {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: var(--body-font), monospace;
}

main {
    margin-top: 5rem;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    margin-bottom: 2rem;
}

iframe {
    outline: 1px solid black;
    border-radius: 6px;
    margin-bottom: 2rem;
}

img.circle {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.divider {
    color: var(--foreground);
    font-family: "Ubuntu Mono", monospace;
    display: block;
    text-wrap: nowrap;
}

hr {
    height: 0;
    border: none;
    border-bottom: 4px solid var(--accent);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.desktop {
    display: none;

    @include desktop {
        display: inline-block;
    }
}

.not-desktop {
    display: none;

    @include tablet-or-smaller {
        display: inline-block;
    }
}
